Source: zentyal-mysqladmin
Section: web
Priority: optional
Maintainer: Mateo Burillo <mburillo@zentyal.org>
Build-Depends: zbuildtools
Standards-Version: 3.9.2

Package: zentyal-mysqladmin
Architecture: all
Depends: zentyal-core (>= 3.2), zentyal-core (>= 3.2), zentyal-webserver, phpmyadmin
Description: Zentyal - MysqlAdmin
 Zentyal is a Linux small business server that can act as
 a Gateway, Unified Threat Manager, Office Server, Infrastructure
 Manager, Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds Mysql database management through the phpMyAdmin web tool.
